@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}
html, body {width: 100%}
body {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.btn {
    width: 270px;
    height: 60px;
    border: 0;
    border-radius: 5px;
    background: #75E169;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 15px;
}
.btn:hover {
    cursor: pointer;
    border: 2px solid #67AEFC;
}
.btn:active {
    border: 0;
    background: #67AEFC;
}


/*
*
* --- HEADER ---
*
*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    background: #67AEFC;
    display: flex;
    align-items: center;
    z-index: 10;
}
.header-box {
    width: 70%;
    margin: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
*
* --- LABEL ---
*
*/
.label {
    position: relative;
    display: flex;
    align-items: center;
    height: 46.38px;
}
.label .left, .label .right {width: 40px}
.label .label-back-left, .label .label-back-right {
    height: 46.38px;
    width: 42.56px;
}
.label .label-back-left {
    position: absolute;
    top: -8px;
    left: 0;
}
.label .label-back-right {
    position: absolute;
    top: 6px;
    left: 29px;
}
.label .label-left, .label .label-right {
    width: 17.84px;
    height: 34.55px;
}
.label .label-left {
    position: absolute;
    top: -3px;
    left: 7px;
    z-index: 2;
}
.label .label-right {
    position: absolute;
    top: 12px;
    left: 47px;
    z-index: 2;
}
.label .leter {height: 16px}

/*
*
* --- NAVIGATION ---
*
*/
.header .nav {
    display: flex;
    align-items: center;
}
.header .nav > a {
    color: #fff;
    font-weight: 600;
    margin-right: 20px;
    line-height: 19.5px;
}
.header .nav > a:hover, .mob-menu a:hover {cursor: pointer}
.header .nav .header-btn {
    text-transform: uppercase;
    width: 170px;
    height: 38px;
    font-size: 15px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    background: #75E169;
    color: #fff;
    line-height: 15px;
}
.header .nav .header-btn:hover {
    cursor: pointer;
    border: 2px solid #fff;
}
.header .nav .header-btn:active {
    background: #fff;
    color: #67AEFC;
    border: 2px solid #fff;
}
.header .mob-nav {
    display: none;
    width: 55px;
    justify-content: space-between;
    align-items: center;
}
.header .mob-nav:hover {cursor: pointer}
.header .mob-nav .white {
    width: 13px; 
    height: 13px;
    background: #fff;
    border: 0;
    border-radius: 50%;
}
.mob-menu {
    position: fixed;
    top: 95px;
    left: 0;
    width: 100%;
    padding: 90px 0;
    background: #67AEFCF2 95%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
}
.mob-menu a {
    color: #fff;
    font-size: 17px;
    font-weight: 800;
    line-height: 27px;
}
.mob-menu a:not(:last-child) {margin-bottom: 75px}



/*
*
* --- FOOTER ---
*
*/
.footer {
    width: 100%;
    padding: 70px 0;
    background: #64ABF9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.footer .block-first {
    width: 70%;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer .block-first__box {width: 25%}
.social {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social > span > i {margin-left: 30px}
.social span i {
    width: 25px;
    height: 25px;
}
.box-tel {margin-bottom: 10px}
